# LIST
    List is data structure which is a indexed collection  of different data types
    List can be consist of int,string,float all together .
    Elelments in lists are separated by commas.
    Each element in list has a unique index where first elemnt always has index=0. and last elelment can be accessed with index=-1.
    List are mutable in nature.
    We can change the content of the list.
    List are enclosed in square brackets []
    Following are the example of the list
    You cannot perform matrix operation in list because it is not purely integer so we have to use numpy

In [ ]:
x[i] = a   reassigns the  ith element to the  value a

In [3]:
a=[1,4.5,"apple","banana",34.56]
print(a[0])#positive index
print(a[-1]) #negative index
print(len(a))#length of list

1
34.56
5

In [2]:
a=[1,2,13,4.5,"apple","banana",34.56]
for i in range(len(a)):          #list traversal
    print("this is a list ",a[i])

this is a list  1
this is a list  2
this is a list  13
this is a list  4.5
this is a list  apple
this is a list  banana
this is a list  34.56

In [1]:
a=[1,2,3,4]*5
print(a)             #list multiply

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [2]:
a=[1,2,3,4]
b=[1,2,3,4]
print(a+
      b)            #list addition results in concatination

[1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
#Create list of integers from 1-10 
x=[i for i in range(10)]
print(x)

# List Slicing
It is used to pull more than one value from the list
list[lower:upper]
here lower limit is inclusive and upper limit is exclusive

In [4]:

a=[1,2,'mango',4,'water',3.6]
print(a[2:4])

['mango', 4]

## APPEND FUNCTION
    .append() function is to add elelment the list.
    append function needs list to be present for the operation.
    append functioon will add element at of the list.

In [2]:
b=[]
b.append(input('enter name')+(input('enter roll')))
print(b)

enter nameclass
enter roll12
['class12']

In [ ]:
b=[]
print('1.new student','\n','2.existing student','\n','3.exit')
while (1):
    a=int(input('enter choice'))
    if a==1:
        b.append(input('enter name'))
        b.append(int(input('enter roll no')))
        print(b)
    elif a==2:
        c=int(input('enter roll no'))
        if c in b:
            print(b[b.index(c)-1])
        else:
            b.append(input('enter name'))
            b.append(int(input('enter roll no')))
            print(b)
    elif a==3:
        break

1.new student
 2.existing student
 3.exit
enter choice1
enter namerj
enter roll no11
['rj', 11]
enter choice2
enter roll no11
rj

In [ ]:
a=[]
for i in range(10):
    a.append(i)
print(a)
del a[6]
print(a)

## DELETE FUNCTION
    Delete function is used to delete the element at given location.
    SYNTAX: del list_name[index]

In [2]:
a=[]
for i in range(10):
    a.append(i)
print(a)
del a[6]
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 7, 8, 9]

## REMOVE FUNCTION
    Remove function is used to remove the mentioned element from the list.
    SYNTAX- list_name.remove(element)

## INSERT FUNCTION
    insert is used to insert a element at given location.
    SYNTAX- list_name.insert(index_name,element)

In [3]:
a=[1,2,3,4,5,6,7,8,9,0]
del(a[2])
print(a)
a.insert(2,'a')
print(a)
a.remove(9)
print(a)

[1, 2, 4, 5, 6, 7, 8, 9, 0]
[1, 2, 'a', 4, 5, 6, 7, 8, 9, 0]
[1, 2, 'a', 4, 5, 6, 7, 8, 0]

## EXTEND FUNCTION
    As in append we cannot append multiple elements.
    to enter multiple elements we have to append a new list.
    Extend function is used to add the the multiple elements in list.

In [15]:
a=[1,2,3,4,5,6,7,8]
a.append([11,12])
print(a)
a.extend([13,14])
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, [11, 12]]
[1, 2, 3, 4, 5, 6, 7, 8, [11, 12], 13, 14]

  # max function :
  ## Returns the maximum value from list.

  # min function
  ## Returns minimum value from list.

In [1]:

c = [22,11,19,96,67,9,-45,19]
print (c)
print (max(c))
 
print (min(c))
print()

[22, 11, 19, 96, 67, 9, -45, 19]
96
-45

  # count function 
## Counts the occurences of given element in list

In [2]:
print (c.count(19))

2

 # pop function 
 ## Used to pop out the last element of list

In [3]:
print(c.pop())
### pop out the element from given position  
print(c.pop(0))

19
22

  # sorted function : 
  ## Used to sort the list

In [5]:
print(sorted(c))
print()
print (c)
print ()

[-45, 9, 11, 19, 19, 22, 67, 96]

[22, 11, 19, 96, 67, 9, -45, 19]

# reverse function: Reverses the list

In [6]:
m = [22,11,19,96,67,9,-45,19]
print (m)
print ()
m.reverse()
print (m)
print ()

[22, 11, 19, 96, 67, 9, -45, 19]

[19, -45, 9, 67, 96, 19, 11, 22]

In [ ]:
2-d Lists – Advanced Topic
You can have 2-d lists – it’s just a list of lists! - but, especially when manipulating numbers,
it is far better to use NumPy arrays (see section 6.3).
Addressing a 2-d list is done thus:
>>> a=[[0,1,2],[3,4,5],[6,7,8]] # Create a 2-d list
>>> print a
[[0, 1, 2], [3, 4, 5], [6, 7, 8]]
>>> print a[1][2] # Addressing a 2-d list

Fancy List Handling – zip() and map() – Advanced Topic
You can do some very clever things with lists. In general however, the ‘array’ type that we
introduce later in the course (in module NumPy) is more useful to physicists.
Have a look at appendix B of Hetland where he has a summary of built in functions and
methods. I will give just two examples here:
Example 1. Try the zip() function:

In [17]:
a=[1,2,3]
b=[4,5,6]
c = list(zip(a,b))
print(type(c))
print(c)

<class 'list'>
[(1, 4), (2, 5), (3, 6)]

You may have a list of integers and want to make them all into floats. Python won’t let you
do this in case the list contains types that cannot be converted. However, the map() function
allows you to ‘map’ any function onto all the elements of a list. Of course, if the list contains
unsuitable elements, you will get an error:

In [8]:

a=[1,2,3,4,5]

b=map(float,a)# Apply the float() function to all elements

print(list(b))

#[1.0, 2.0, 3.0, 4.0, 5.0]
a.append('fred')

print(a)

#[1, 2, 3, 4, 5, 'fred']

b=map(float,a)
print(list(b))

[1.0, 2.0, 3.0, 4.0, 5.0]
[1, 2, 3, 4, 5, 'fred']

ValueError: could not convert string to float: 'fred'

.1.5 Tuples
Tuples are lists that cannot be changed. In general, don’t worry about them, just use lists!
However, they can be useful and you will come across them.
If you use a library function that happens to return a tuple, just treat it like you would a list
but don’t try to change it! Tuples use round brackets for assignment and display:

In [11]:
a=(1,2,3)
type(a)

print (a[1])

a[1] = 99

2

TypeError: 'tuple' object does not support item assignment

In [ ]:
Exercise 6.1 - Lists
Write a small database and some code to query it using lists.
Create a list with the names of 10 ‘friends’. Create a second matching list with their years of
birth. Ask the user to input a name. Tell him the place (index) of that person in the list, how
many friends he has in total and the year of birth of the person. The input and output should
look like this:
Enter a name: Will
You have 10 friends
Will is number 8 in your list
Will was born in 1991

In [ ]:
Given an array of ints length 3, return an array with the elements "rotated left" so {1, 2, 3} yields {2, 3, 1}.


rotate_left3([1, 2, 3]) → [2, 3, 1]
rotate_left3([5, 11, 9]) → [11, 9, 5]

In [ ]:
#Given an array of ints length 3, figure out which is larger, the first or last element in the array, and set all the other elements to be that value. Return the changed array.


max_end3([1, 2, 3]) → [3, 3, 3]
max_end3([11, 5, 9]) → [11, 11, 11]

In [ ]:
#Given 2 int arrays, a and b, each length 3, return a new array length 2 containing their middle elements.


middle_way([1, 2, 3], [4, 5, 6]) → [2, 5]
middle_way([7, 7, 7], [3, 8, 0]) → [7, 8]